<div>
    <h1>BLOGS APP</h1>
</div>

<select (change)="onChange($event)">
    <option value="todos">todos</option>
    <option value="publico">publico</option>
    <option value="privado">privado</option>
</select>

<div class="blogs">
    <div class="blog" *ngFor="let post of posts">
        <h2>{{post.Titulo}}</h2>
        <h3>{{post.Texto}}</h3>
        <p>{{post.autor}}</p>
        <img [src]="post.imagen" alt="">
        <p>{{post.fecha}}</p>
        <h4>{{post.categoria}}</h4>
    </div>
</div>