
*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
    
}

header{
    justify-content: space-around;
    
}

img{
    width: 100%;
  
    background-size: cover;
    background-position:center;
    transition: .2s;
  
}

body{
    font-family: sans-serif;
}




body select{
    height: 30px;
    cursor: pointer;

}

.blogs{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
    justify-items: center;
    border: 2px solid black;
    border-radius: 10px;
}

.blog{
   display: grid;
   grid-gap: 20px;
   max-width: 1000px;
   margin: auto;
    margin: 5px;
    margin-left: 20px;
    
  
}



